@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Patrick+Hand&family=Space+Mono&display=swap');

* {
  font-family: 'Dosis', sans-serif;
  margin: 0px;
}

.title {
  font-size: 90px;
}

.primary-button {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 30px;
  background: linear-gradient(40deg, #DF2020, coral);
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
}

body {
  text-align: center;
}

/* HEADER */

nav {
  width: 100%;
  display:flex;
  justify-content: center;
}

nav .logo-container {
  width: 600px;
  margin: 30px;
}

nav .logo-container .logo {
  width: 100%;
}

nav .header-button {
  color: #DF2020;
  background-color: #FFFFFF;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 20px;
  border: none;
  margin: 10px;
}

/* HOMEPAGE */

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(
    to bottom,
    #FFFFFF 30%,
    #DF2020 150%
  );
}

/* Authentification Box */

.auth-box{
  
  justify-content: space-around;
  top: 500px;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  height: 200px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 100px;
}

.auth-box .close {
  float: right;
}


/* Create Account */ 

.create-account {
  background: linear-gradient(
    to bottom,
    #FFFFFF 30%,
    #DF2020 150%
  )
}

.create-account h2 {
  font-size: 50px;
}

.create-account form {
  display: flex; 
  justify-content: center;
}

.create-account form section {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.create-account form input {
  font-size: 20px;
  padding: 15px 30px;
  margin: 10px 35px;
  border: solid 2px rgb(114, 114, 114);
}